---

siteName: null

title: GE2015 Visualizations

description: >
  A look at Singapore’s 2015 General Elections by the numbers

ogUrl: http://zxzxlch.github.io/ge15-viz/

visualizations:
- 
  title: GE2015 Candidates
  description: Who’s contesting in this year’s general election?
  path: profiles/index.html
- 
  title: Parliament Sittings
  description: How Often Do Our Members of Parliament Attend Parliament Sittings?
  path: parliament-sittings.html

---

<div class="hero">
  <h1>GE2015<br>Visual<wbr>izations</h1>
  <img class="banner" src="{{ relativePath }}images/banner-large.png">
  <div class="description">{{ description }}</div>
</div>

<div>
  <a id="charts"></a>
  {{#each visualizations~}}
    <div class="viz-card-link">
      <a class="no-underline" href="{{ path }}">
        <h3 class="title">{{ title }}</h3>
        <p>{{ description }}</p>
      </a>
    </div>
  {{~/each}}
</div>