---

relativePath: '../'

layout: viz-layout.hbs

title: GE2015 Candidates

subtitle: Who’s contesting in this year’s general election?

description: >
  This visualization shows the candidates and parties contesting in this year's Singapore's 2015 General Election. Out of the 9 parties, the People's Action Party is the largest, fielding 89 candidates, followed by the Workers’ Party with 28 candidates.

data: <%= candidates.data %>

ogImage: images/prf-og-image.png

ogUrl: http://zxzxlch.github.io/ge15-viz/profiles/#faces

buildScripts:
  main:     'profiles-bundled'
  scripts:  ['profiles']

footerIncludes: >
  <div class="ps-sources">
    Sources:
    <ul>
      <li><a href="https://en.wikipedia.org/wiki/Singaporean_general_election,_2015">https://en.wikipedia.org/wiki/Singaporean_general_election,_2015</a></li>
      <li><a href="http://www.channelnewsasia.com/news/specialreports/sgvotes2015/parties/pap">http://www.channelnewsasia.com/news/specialreports/sgvotes2015/parties/pap</a></li>
      <li><a href="https://www.pap.org.sg/Your-Candidates">https://www.pap.org.sg/Your-Candidates</a></li>
      <li><a href="https://www.pap.org.sg/MORE/Our-New-Candidates/Content">https://www.pap.org.sg/MORE/Our-New-Candidates/Content</a></li>
      <li><a href="http://www.wp.sg/candidates/">http://www.wp.sg/candidates/</a></li>
      <li><a href="http://yoursdp.org/index/candidates/0-30">http://yoursdp.org/index/candidates/0-30</a></li>
      <li><a href="http://singaporedemocraticalliance.sg/aboutus/team-members/">http://singaporedemocraticalliance.sg/aboutus/team-members/</a></li>
      <li><a href="http://singfirst.org/our-cec-members/">http://singfirst.org/our-cec-members/</a></li>
      <li><a href="http://www.dpp.sg/our-candidates/">http://www.dpp.sg/our-candidates/</a></li>
    </ul>
  </div>

includeScripts: >
  <script>window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
   
    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };
   
    return t;
  }(document, "script", "twitter-wjs"));</script>

---
<!-- Introduction -->
<div class="introduction">
  <h1 class="heading">{{ title }}</h1>
  <h2 class="heading-subtitle">{{ subtitle }}</h2>
  <p>This visualization shows the candidates and parties contesting in this year's Singapore's 2015 General Election. Out of the 9 parties, the People's Action Party is the largest, fielding 89 candidates, followed by the Workers’ Party with 28 candidates.</p>
  <p>The data is mainly sourced from Wikipedia and various party websites. The full list of sources can be found at the bottom of the page.</p>
</div>

<!-- Chart -->
<div class="viz viz-profiles">
  <noscript>
    <div class="viz-settings">
    </div>
    <div class="viz-content">
      {{#each data~}}
        <div class="candidate candidate-card" data-id="{{ id }}">
          <div class="col-sm-6">
            <div class="candidate-avatar">
              <div class="candidate-image-thumbnail"{{#if imageUrl}} style="background-image: url({{ relativePath }}images/candidates/{{ id }}.png)"{{/if}}></div>
              <div class="candidate-party-logo {{ partyId }}"></div>
            </div>
            <div class="candidate-details">
              <div class="candidate-name">
                {{~  name ~}}
                {{#if nameNative}}<span class="candidate-name-native">{{ nameNative }}</span>{{/if}}
              </div>
              <div class="candidate-card-row candidate-division">{{  division }}</div>
              <div class="candidate-card-row">
                {{#if age}}<span class="candidate-age">Age {{ age }}</span>{{/if}}
                {{#if religion}}<span class="candidate-religion">{{ religion }}</span>{{/if}}
              </div>
              <div class="candidate-card-row">
                {{#if partyRoles~}}
                  <span class="candidate-party-roles candidate-row-list">
                    <span class="candidate-row-list-heading">Party Roles</span>
                    <ul>
                      {{#each partyRoles ~}}
                        <li>{{this}}</li>
                      {{~/each}}
                    </ul>
                  </span>
                {{~/if}}
              </div>
              <div class="candidate-card-row">
                {{#if occupation~}}
                  <span class="candidate-occupation candidate-row-list">
                    <span class="candidate-row-list-heading">Occupation</span>
                    <ul>
                      {{#each occupation ~}}
                        <li>{{this}}</li>
                      {{~/each}}
                    </ul>
                  </span>
                {{~/if}}
              </div>
              <div class="candidate-card-row">
                {{#if almaMater~}}
                  <span class="candidate-alma-mater candidate-row-list">
                    <span class="candidate-row-list-heading">Alma Mater</span>
                    <ul>
                      {{#each almaMater ~}}
                        <li>{{this}}</li>
                      {{~/each}}
                    </ul>
                  </span>
                {{~/if}}
              </div>
              <div class="candidate-card-row">
                {{#if education~}}
                  <span class="candidate-education candidate-row-list">
                    <span class="candidate-row-list-heading">Education</span>
                    <ul>
                      {{#each education ~}}
                        <li>{{this}}</li>
                      {{~/each}}
                    </ul>
                  </span>
                {{~/if}}
              </div>
              {{#with links~}}
                <div class="candidate-card-row candidate-links">
                  {{#if partyProfile}}<a class="candidate-party-profile" href="{{ partyProfile }}">Party Webpage</a>{{/if}}
                  {{#if wikipedia}}<a class="candidate-wikipedia" href="{{ wikipedia }}">Wikipedia</a>{{/if}}
                  {{#if facebook}}<a class="candidate-facebook" href="{{ facebook }}">Facebook</a>{{/if}}
                  {{#if ../email}}<a class="candidate-email" href="mailto:{{ ../email }}">Email</a>{{/if}}
                  {{#if cv}}<a class="candidate-cv" href="{{ cv }}">CV</a>{{/if}}
                </div>
              {{~/with}}
            </div>
          </div>
        </div>
      {{~/each}}
    </div>
  </noscript>
</div>

<div class="hide js-image-ref">
  {{#each data~}}
    <img data-candidate-id="{{ id }}" src="{{ ../relativePath }}images/candidates/thumbs/{{ id }}.png">
  {{/each}}
</div>
